<div class="container task-list">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-white post panel-shadow" *ngFor="let comment of comments">
                <div class="card-heading">
                    <div class="pull-left image">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>{{comment.author}}</b></a>
                            made a post.
                        </div>
                      <star-rating [value]=comment.stars totalstars="10" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating>

                      <div class="card">
                            <p>{{comment.description}}</p>
                        </div>

                      <h6 class="text-muted time">1 minute ago</h6>
                        <div class="stats">
                            <a href="#">
                                <fa-icon [icon]="faThumbsUp"></fa-icon>2
                            </a>
                            <a href="#">
                                <fa-icon [icon]="faThumbsDown"></fa-icon>12
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="panel panel-white post panel-shadow" >
                <!--<div class="post-heading">
                    <div class="pull-left meta">
                        <div class="title h4">
                            <a href="#"><b>{{task.title}}</b></a>
                        </div>
                        <h6 class="text-muted time">1 minute ago</h6>
                    </div>
                </div>
                <div class="post-description">
                    <p>{{task.description}}</p>
                    <div class="stats">
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-up icon"></i>2
                        </a>
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-thumbs-down icon"></i>12
                        </a>
                    </div>
                </div>-->
                <form class="post-form" [formGroup]="commentForm" (ngSubmit)="addComments()">

                    <div class="form-group task-group">
                      <div class="form-group">
                        <label style="color: cornflowerblue;">Post a comment...</label>
                        <input type="text" placeholder="Author" class="form-control" formControlName="author" id="author" />
                      </div>
                      <div class="form-group">
                        <textarea placeholder="Your comment..." class="form-control task-textarea" rows="1" formControlName="description" id="description" ></textarea>
                      </div>
                      <div class="form-group card">
                        <label style="color: cornflowerblue;">Rate this car</label>
                        <star-rating [value]=this.rating.rating totalstars="10" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating>
                      </div>

                    </div>

                  <button class="btn btn-default btn-submit">Submit</button>
                  </form>
            </div>
        </div>

    </div>
</div>
