<div class="container register-form pt-lg-4" >
  <div class="note">
    <h3 style="color: cornflowerblue">Create new advertisement</h3>
  </div>
  <form (ngSubmit)="onSubmit()">

    <div class="card my-5">
      <div class="card-body">
        <h5 style="color: cornflowerblue">Details</h5>
        <label>Brand</label>
        <div class="ml-1">
          <select class="custom-select">
            <option disabled selected value> Select.. </option>
            <option *ngFor="let brand of carBrands">
              {{brand.name}}
            </option>

          </select>
        </div>
        <label>Model</label>
        <div class="ml-1">
          <select class="custom-select">
            <option disabled selected value> Select.. </option>
            <option *ngFor="let model of carModels">
              {{model.name}}
            </option>

          </select>
        </div>
        <label>Class</label>
        <div class="ml-1">
          <select class="custom-select">
            <option disabled selected value> Select.. </option>
            <option *ngFor="let class of carClasses">
              {{class.carClass}}
            </option>
          </select>
        </div>

      </div>
    </div>


    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
