<div class="container register-form pt-lg-4" >
  <div class="note">
    <h3 style="color: cornflowerblue">Create new advertisement</h3>
  </div>
  <form>

    <div class="card my-5">
      <div class="card-body">
        <h5 style="color: cornflowerblue">Details</h5>
        <label>Brand</label>
        <div class="ml-1">
          <select class="custom-select">
            <option disabled selected value> Select.. </option>
            <option>
              Audi
            </option>
            <option>
              Nissan
            </option>
          </select>
        </div>
        <label>Model</label>
        <div class="ml-1">
          <select class="custom-select">
            <option>
              A7
            </option>
            <option>
              Versa
            </option>
          </select>
        </div>
        <label>Class</label>
        <div class="ml-1">
          <select>
            <option>
              ClassA
            </option>
            <option>
              ClassB
            </option>
          </select>
        </div>

      </div>
    </div>


    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
